= simple_form_for @<%= singular_table_name %>, :html => { :class => 'standard' } do |f|
	<%- attributes.each do |attribute| -%>
		= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
	<%- end -%>
	= f.submit