// COLOR DEFINITIONS
$light1: #EAEBEC;
$light2: #9A9FA0;

$dark1: #3C3E40;
$dark2: #262728;

$color1: #3671FF;
$color2: #3F4E89;

$alt1: #AC2C08;
$alt2: #5A2616;

$success1: #D7EDC3;
$success2: #68AF2F;

$notice1: #FFFD7D;
$notice2: #FFD939;

$error1: #FFDCDC;
$error2: #D64338;

$white: #FFF;
$light_gray: #CCC;
$gray: #777;
$black: #000;

// TYPOGRAPHY DEFINITIONS
$sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$serif: "Georgia", "Times", "Times New Roman", serif;
$mono: "Monaco", "Andale Mono", "Courier New", monospace;

$base_size: 15px;
$base_weight: 300;
$baseline: 20px;

// JETPACK IMPORT
@import 'jetpack';

// APPLICATION-WIDE OVERRIDES

// VIEW-SPECIFIC STYLES
@import '*';