// TEST COLORS
$tl1: #D6D0CA;
$tl2: #E6E1DC;
$tl3: #EEE7E0;

form {
	fieldset {
		background: $tl1; padding: $baseline;
		border: 1px solid $light2; @include border-radius(4px);
		fieldset { background: $tl2;
			fieldset { background : $tl3; }
		}
	}

	div.input.check_boxes {
		label.control-label { display: block; }
		label.checkbox {
			font-size: $base_size - 1px; font-weight: 500; 
			input { margin-right: $baseline/2; margin-top: 1px; }
		}
	}

}

form.master_test {
	fieldset.answer {
		padding: 0; background: none; border: none; margin-bottom: $baseline/3;
		label { margin-right: $baseline/3; font-weight: 700; }
		input { @include standard_input; margin-right: $baseline/3; }
	}
	div.question_controls { margin-top: $baseline/2; padding-top: $baseline/2; border-top: 1px solid $tl1; }
}