// TEST COLORS
$tl1: #D6D0CA;
$tl2: #E6E1DC;
$tl3: #EEE7E0;

form {
	fieldset {
		background: $tl1; padding: $baseline;
		border: 1px solid $light2; @include border-radius(4px);
		fieldset { background: $tl2;
			fieldset { background : $tl3; }
		}
	}
}

form.master_test {
	div.answers { margin-bottom: $baseline; }
	div.answer {
		margin-bottom: $baseline/3;
		label { margin-right: $baseline/3; font-weight: 700; }
		input { @include standard_input; margin-right: $baseline/3; }
	}	
}